<% include header %>
<% include toolbar %>
<h1>
    Error <%= errorCode %>
</h1>
<p>You can find what it means @ 
    <a href="https://en.wikipedia.org/wiki/List_of_HTTP_status_codes">Wikipedia</a></p>
<% include footer %>