<% include header %>
    <% include toolbar %>
    
    <table class="table table-hover" id="leaderboard">
        <thead>
            <tr>
                <th> #</th>
                <th> Element </th>
                <th> Score </th>
            </tr>
        </thead>
        <tbody id="rank">
        </tbody>
    </table>
    <script type="text/javascript" src="bower_components/socket.io-client/socket.io.js"></script>
    <script type="text/javascript" src="js/main.js"></script>
<% include footer %>