<% include header %>
    <% include toolbar %>
    
    <table class="table table-hover">
        <tr>
            <th> Element </th>
            <th> Score </th>
        </tr>
    <% elems.forEach(function (e) { %>
        <tr>
            <td>
            <%= e.name %>
            </td>
            <td>
            <%= e.score %>
            </td>
        </tr>
    <% }); %>
    </table>
<% include footer %>